.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}
 /* header & sign btn */
header{
    width: 1600px;
    height: 100px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.sign-in-btn{
    background-color: #F5F5F5;
    color: #006A50;
    border: 1px solid #006A50;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;


}
.sign-in-btn:hover {
    background-color: #006A50; 
    color: #F5F5F5;
    border-color: #004d3a; 
}